# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
**/.env
**/.env.local
**/.env.*.local
.DS_Store
.vscode/
coverage/
**/dist/
**/build/
**/.turbo/
**/.next/
**/out/
**/coverage/
**/*.log

# OS
Thumbs.db
desktop.ini

# Logs
*.log

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
